.main_Body{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    margin: 0px;
    gap: 1rem
}
.right_SideBar{
    flex: 3;
    background-color: #1c1c1c;
    border-radius: 1rem;
    overflow-y:scroll;
   
}
::-webkit-scrollbar {
    width: 16px;
    height: 20px;
    
  }
  
  ::-webkit-scrollbar-thumb {
    background: #302f2f;
    
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #3e3d3d;
  }

  /* playlist css */
  
.playlist-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  background-color: #121212;
  box-sizing: border-box;
 
}

.playlist-item {
  background-color: #1E1E1E; 
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
  height: 89%;
  width: 10rem;

}

.playlist-item img {
  width: 10rem;
  border-radius: 5px;
}

.playlist-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: #FFFFFF; 
  text-align: start;
  height: 2rem;
  /* text-overflow:ellipsis;
  overflow: hidden; */

}

.playlist-item p {
  font-size: 14px;
  color: #B3B3B3;
  margin: 10px 0;
  text-align: start;
  height: 2rem;
  text-overflow:ellipsis;
  overflow: hidden;
}




.playlist-item-link {
  text-decoration: none; 
  color: inherit; 
  width: 100%;


}

.playlist-item-link:hover {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); 
}
.playlist-item:hover{
  background-color: #343333;
}


/* footer css */


.custom-audio-player {
  background-color:  #121212;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* position: fixed;
  bottom: 0px; */
  width: 100%;
  height: 180px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;

}

.control-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s;
}

.play-pause-button {
 color: #f2f9f5;
 background-color: transparent;
  border-radius: 50%;
  font-size: 50px;
  cursor: pointer;
  transition: transform 0.2s;
  outline: none;
  border: none;
}

.play-pause-button:hover {
  transform: scale(1.2);
}

.play-pause-button .FaPlay,
.play-pause-button .FaPause {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.current-track {
  display: flex;
  align-items: center;
  margin: 20px 0;
  flex:1;
  justify-content: space-evenly;
}
.controls-and-audio{
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   gap: 10px;
}


.track-details {
  text-align: center;
  margin-top: 10px;
}

.upcoming-tracks {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  flex: 1.4

}

h4 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.upcoming-tracks ul li span{
  margin-right: 20px;
}


.audio-progress {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 30px;

}

.current-time , .duration{
  margin: 10px;
}

.progress-bar {
  flex-grow: 1;
  height: 4px;
  background-color: #555;
  position: relative;
  
  
}

.progress {
  height: 100%;
  width: 0;
  background-color: white;
}

  
