
.homeCategories{
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}
.s-categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-self: center;
    
   
}

.categoryBlock{
  position: relative;
    background-color: aliceblue;
    width: 100%;
    height: 215px;
    overflow: hidden;
    border-radius: 1rem;
}

.categoryBlock img{
    width: 6rem;
    height: 6rem;
    position: absolute;
    right: -15px;
    bottom: -10px;
    transform: rotate(30deg);
}
.categoryBlock span{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    color: inherit;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 16px;
    position: absolute;

}
